{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Connect Four Game</h1>
            <div>
                <span>Playing</span>
            </div>

            <div>
                <div class="{{ game.getCurrentPlayer() == game.getFirstPlayer() ? 'now-playing' : '' }}">
                    <div class="badge {{ constant('ConnectFour\\Game::FIRST_PLAYER_COLOR') }}"></div>
                    {{ game.getFirstPlayer().getNickname() }}
                </div>
                <div class="{{ game.getCurrentPlayer() == game.getSecondPlayer() ? 'now-playing' : '' }}">
                    <div class="badge {{ constant('ConnectFour\\Game::SECOND_PLAYER_COLOR') }}"></div>
                    {{ game.getSecondPlayer().getNickname() }}
                </div>
            </div>

        </div>
    </div>
    <div id="disc-container">
        {% for column in game.getBoard().getCells() %}
            <div class="column">
                {% for disc in column | reverse %}
                    {% if disc %}
                        {% set color = game.getFirstPlayer() == disc.getPlayer()
                            ? constant('ConnectFour\\Game::FIRST_PLAYER_COLOR')
                            : constant('ConnectFour\\Game::SECOND_PLAYER_COLOR') %}
                        <div class="cell disc {{ color }}"></div>
                    {% else %}
                        <div class="cell empty"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .badge {
            display: inline-block;
            width: 12px;
            height: 12px;
        }

        .now-playing {
            font-weight: bold;
        }

        .badge.yellow {
            background-color: yellow;
        }

        .badge.red {
            background-color: red;
        }

        .column {
            float: left;
        }

        .cell {
            height: 40px;
            width: 40px;
            border: 1px solid;
            box-sizing: border-box;
        }

        .cell.empty {
            border-color: grey;
        }

        .disc {
            height: 40px;
            width: 40px;
            border: 1px solid;
            box-sizing: border-box;
        }

        .disc.yellow {
            background-color: yellow;
        }

        .disc.red {
            background-color: red;
        }

    </style>
{% endblock %}
